header h2{
	display: block;
	text-align: center;
	font-size: 40px
}

header {
	border-bottom: 1px solid black;
	background-color: #c4c4c4;
	margin-top: -10px;
	padding-top: 10px;
	padding-bottom: 5px;
}

.groupHeader {
	margin-top: 30px;
	font-weight: bold;
	font-size: 18px;
	text-decoration: underline;
}

body {
	background-color: #ffe6cc;
	margin-top: 0px;
	padding-top: 0px;
}

.listGroup li:nth-child(n+2) {
	border: 1px solid black;
	margin-top: 8px;
	background-color: lightgrey;
}